/IUBAT_PROGRAM/Test/nbproject/private/
/IUBAT_PROGRAM/Test/build/
/IUBAT_PROGRAM/tests/nbproject/private/
/IUBAT_PROGRAM/tests/build/
/IUBAT_PROGRAM/JavaFXApplication1/nbproject/private/
/IUBAT_PROGRAM/JavaFXApplication1/build/
/IUBAT_PROGRAM/TOPU/nbproject/private/
/IUBAT_PROGRAM/TOPU/build/
